.label{
    margin-bottom: 0.8rem;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
}
.inputgroup{
    margin-bottom: 2rem;
    

}
.label-range{
    margin-bottom: 2.5rem;
}

.ratinglabel{
    font-weight: 600;
    font-family: "Raleway", sans-serif;
}

.PriceRange{
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    margin-bottom: 2.5rem;
}