


*,*::after,*::before {
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Raleway' sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   -ms-overflow-style: none;  /*is hide scrollbar for iE and Edge Broweser; */
  scrollbar-width: none; /*is hide scrollbar for firfox Broweser; */
}

::-webkit-scrollbar{
  display: none;  /*is hide scrollbar for chorm,safari,opera Broweser; */
}

input{
  font-family: 'Raleway' sans-serif;
}
button{
  font-family: 'Raleway' sans-serif;
}




